<div class="main-panel">
    <div class="main-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title ">Complaints</h4>
                <p class="card-category"></p>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
  
                      <th>Id</th>
                      <th>Date & Time</th>
                      <th>From</th>
                      <th>Type</th>
                      <th>Subject</th>
                      <th>Content</th>

                    </thead>
                    <tbody>
                       <tr *ngFor="let ca of comp">
                         <td>{{ca.id}}</td>
                         <td>{{ca.inscription_timestamp}}</td>
                         <td>{{ca.sender_type}}</td>
                         <td>{{ca.title}}</td>
                         <td>{{ca.subject}}</td>
                         <td>{{ca.content}}</td>
                       </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="card card-plain">
  
              <div class="card-body">
                <div class="table-responsive">
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
  
    </div>
  </div>