<div class="main-panel">
  <div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#myModal">Add New Media</button>

            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class=" text-primary">
                    <th>Id</th>
                     <th>Title</th>  
                    <th>Image</th>
                     <th>Type</th>  
                    <th>Action</th>
                  </thead>
                  <tbody>
                    <tr *ngFor=" let media of medias">
                       <td>{{media.id}}</td>  
                      <td>{{media.title}}</td>  
                       
                      <td><img src="http://localhost:3000/media/{{media.address}}" width=50 height=50 /></td>

                      <td>{{media.type}}</td> 
                      <td>
                        <a (click)="onEdit(media)" data-toggle="modal" data-target="#myModal"><i class="material-icons">&#xE150;</i></a>

                         
                        <a (click)=" deleteMedia(media.id)" class="ml-4"><i class="material-icons">delete</i></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card card-plain">

            <div class="card-body">
              <div class="table-responsive">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title">Add Profile</h4>

              </div>

              <div class="modal-body">

                <!-- left column -->

                <!-- general form elements -->
                <div class="card-body">
                  <form #mediaForm="ngForm" (ngSubmit)="onSubmit(mediaForm)" >
                    <input type="hidden" name="id" [(ngModel)]="media.id" #id="ngModel">

                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Title</label>
                          <input type="text" #name="ngModel" class="form-control" name="title" [(ngModel)]="media.title"
                            id="id_title">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
 
                      <div class="form-group"> 
                        <div class="form-group form-file-upload form-file-multiple bmd-form-group">
                                <input type="file" name="myFile" accept="image/*" (change)="onFileChanged($event, imageLabel, fileIn)"  id="myFile" class="inputFileHidden" #fileIn  #name="ngModel" [(ngModel)]="media.address">
                                <div class="input-group">
                                    <input type="text" class="form-control inputFileVisible" #imageLabel  placeholder="Choose Image">
                                    <span class="input-group-btn">
                                        <button type="button" (click)="selectImage(fileIn)" class="btn btn-fab btn-round btn-primary btn-image">
                                            <i class="material-icons">attach_file</i>
                                        </button>
                                    </span>
                                </div>
                              </div>
                    </div>  
 

                      </div>

                        <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Type</label>
                          <input type="text" #name="ngModel"  class="form-control" name="type" [(ngModel)]="media.type"
                            id="id_type">
                        </div>
                      </div>  
                    </div>

                    <button type="button" (click)="resetForm()" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>

                    <button type="submit" class="btn btn-primary pull-right" data-toggle="modal" data-target="#myModal">Submit</button>
                    <div class="clearfix"></div>
                  </form>
                </div>

              </div>
            </div>
          </div>

        </div>

      </div>
    </div>

  </div>
</div>