<div class="main-panel">
  <div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#myModal">Add New rider</button>

            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class=" text-primary">
                     <th>Id</th>
                     <th>First Name</th>
                     <th>Last Name</th>
                     <th>Mobile Number</th>
                     <th>Balance</th>
                     <th>Address</th>
                      <th>Action</th>
                    </thead>
                  <tbody>
                    <tr *ngFor=" let rider of riders">
                      <td>{{rider.id}}</td>
                      <td>{{rider.first_name}}</td>
                      <td>{{rider.last_name}}</td>
                      <td>{{rider.mobile_number}}</td>
                      <td>{{rider.balance}}</td>
                      <td>{{rider.address}}</td>
                      

                    <td>
                      <a  (click)="onEdit(rider)" data-toggle="modal" data-target="#myModal"><i class="material-icons">&#xE150;</i></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card card-plain">

            <div class="card-body">
              <div class="table-responsive">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title">Add Profile</h4>

              </div>

              <div class="modal-body">

                <!-- left column -->

                <!-- general form elements -->
                <div class="card-body">
                  <form  #riderForm="ngForm"  (ngSubmit)="onSubmit(riderForm)" >
                    <input type="hidden" name="id"  [(ngModel)]="rider.id" #id="ngModel"> 
                  
                 <div class="row">
                   <div class="col-md-6">
                     <div class="form-group">
                       <label class="bmd-label-floating">First Name</label>
                       <input type="text" #name="ngModel" class="form-control" name="first_name" [(ngModel)]="rider.first_name" id="id_first_name">
                     </div>
                   </div>
                   <div class="col-md-6">
                     <div class="form-group">
                       <label class="bmd-label-floating">Last Name</label>
                       <input type="text" #name="ngModel" class="form-control" name="last_name" [(ngModel)]="rider.last_name" id="id_last_name">
                     </div>
                   </div>
                 </div>
                 <div class="row">
                   <div class="col-md-6">
                     <div class="form-group">
                       <label class="bmd-label-floating">Mobile Number</label>
                       <input type="number" #name="ngModel" class="form-control" name="mobile_number" [(ngModel)]="rider.mobile_number" id="id_mobile_number">
                     </div>
                   </div>
                   <div class="col-md-6">
                     <div class="form-group">
                       <label class="bmd-label-floating">Balance</label>
                       <input type="number" #name="ngModel" class="form-control" name="balance" [(ngModel)]="rider.balance" id="id_balance">
                     </div>
                   </div>
                 </div>
                 <div class="row">
                   <div class="col-md-12">
                     <div class="form-group">
                       <label class="bmd-label-floating">Address</label>
                       <input type="text" #name="ngModel" class="form-control" name="address" [(ngModel)]="rider.address" id="id_address">
                     </div>
                   </div>
                   
                 </div>

                  

                 <button type="submit" class="btn btn-primary pull-right" data-toggle="modal" data-target="#myModal">Submit</button>
                 <button type="button" (click)="resetForm()" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                 <div class="clearfix"></div>
               </form>
                </div>

              </div>
            </div>
          </div>

        </div>

      </div>
    </div>

  </div>
</div>