<div class="main-panel">
  <div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title ">Payment-Request</h4>
              <p class="card-category"></p>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class=" text-primary">
                    <th>Id</th>
                    <th>Driver Name</th>
                    <th>Driver Number</th>
                    <th>Request Date</th>
                    <th>Payment Date</th>
                    <th>Amount</th>
                    <th>Account Number</th>
                    <th>Comment</th>
                  </thead>
                  <tbody>
                   <tr *ngFor="let pay of payments">
                     <td>{{pay.id}}</td>
                     <td>{{pay.first_name+" "+pay.last_name}}</td>
                     <td>{{pay.mobile_number}}</td>
                     <td>{{pay.request_timestamp}}</td>
                     <td>{{pay.payment_timestamp}}</td>
                     <td>{{pay.amount}}</td>
                     <td>{{pay.account_number}}</td>
                     <td>{{pay.comment}}</td>
                   </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card card-plain">

            <div class="card-body">
              <div class="table-responsive">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>